In [12]:
import pandas as pd

In [39]:
#1.Import pandas and read the data into a DataFrame. Print the first 5 rows of the DataFrame.

data=pd.read_csv("file:///C:/Users/user/Downloads/padas_question.csv")
print(data.head())

      Name  Gender  Age  Height (cm)  Weight (kg)         City
0    Alice  Female   25          165           58     New York
1      Bob    Male   30          180           80  Los Angeles
2  Charlie    Male   35          175           70      Chicago
3    Diana  Female   28          170           65        Miami
4      Eva  Female   27          175           60     New York

In [40]:
#2.Print the number of rows and columns in the DataFrame.

data=pd.read_csv("file:///C:/Users/user/Downloads/padas_question.csv")

num_rows, num_columns = data.shape
print("Number of rows-", num_rows)
print("Number of columns-", num_columns)

Number of rows- 10
Number of columns- 6

In [41]:
#3. Print the null value count


data=pd.read_csv("file:///C:/Users/user/Downloads/padas_question.csv")

null_counts = data.isnull().sum()
print("Null value counts:")
print(null_counts)

Null value counts:
Name           0
Gender         0
Age            0
Height (cm)    0
Weight (kg)    0
City           0
dtype: int64

In [42]:
#4. Print the average age, height, and weight of the people in the DataFrame.


data=pd.read_csv("file:///C:/Users/user/Downloads/padas_question.csv")

average_age = data['Age'].mean()
average_height = data['Height (cm)'].mean()
average_weight = data['Weight (kg)'].mean()

print("Average Age:", average_age)
print("Average Height:", average_height)
print("Average Weight:", average_weight)

Average Age: 31.6
Average Height: 175.0
Average Weight: 68.9

In [43]:
#5. Print the name and city of the person who is the tallest in the DataFrame.


data=pd.read_csv("file:///C:/Users/user/Downloads/padas_question.csv")

max_height_index = data['Height (cm)'].idxmax()

tallest_person_name = data.loc [max_height_index, 'Name']
tallest_person_city = data.loc[max_height_index, 'City']

print("The tallest person is:", tallest_person_name)
print("City:", tallest_person_city)

The tallest person is: Frank
City: Houston

In [44]:
#6.Create a new column in the DataFrame called "BMI" that calculates the body mass index of each person. BMI is calculated as weight (kg) divided by height (m) squared. Print the DataFrame with the new column.


data=pd.read_csv("file:///C:/Users/user/Downloads/padas_question.csv")

data['BMI'] = data['Weight (kg)'] / (data['Height (cm)'] ** 2)

print(data)

      Name  Gender  Age  Height (cm)  Weight (kg)         City       BMI
0    Alice  Female   25          165           58     New York  0.002130
1      Bob    Male   30          180           80  Los Angeles  0.002469
2  Charlie    Male   35          175           70      Chicago  0.002286
3    Diana  Female   28          170           65        Miami  0.002249
4      Eva  Female   27          175           60     New York  0.001959
5    Frank    Male   40          190           85      Houston  0.002355
6    Grace  Female   32          168           55      Chicago  0.001949
7    Henry    Male   45          175           75  Los Angeles  0.002449
8      Ivy  Female   26          172           63        Miami  0.002130
9     Jack    Male   28          180           78     New York  0.002407

In [45]:
#7.Group the data by gender and print the average age, height, and weight of males and females separately.

data=pd.read_csv("file:///C:/Users/user/Downloads/padas_question.csv")

grouped_data = data.groupby('Gender').agg({'Age': 'mean', 'Height (cm)': 'mean', 'Weight (kg)': 'mean'})

print("Average age, height, and weight by gender:")
print(grouped_data)

Average age, height, and weight by gender:
         Age  Height (cm)  Weight (kg)
Gender
Female  27.6        170.0         60.2
Male    35.6        180.0         77.6

In [46]:
#8. Sort the data by age in ascending order and print the first 3 rows of the sorted DataFrame.

data=pd.read_csv("file:///C:/Users/user/Downloads/padas_question.csv")

sorted_data = data.sort_values(by='Age')

print("First 3 rows of the sorted DataFrame:")
print(sorted_data.head(3))

First 3 rows of the sorted DataFrame:
    Name  Gender  Age  Height (cm)  Weight (kg)      City
0  Alice  Female   25          165           58  New York
8    Ivy  Female   26          172           63     Miami
4    Eva  Female   27          175           60  New York

In [47]:
#9.Filter the data to only include people who live in New York and print the resulting DataFrame.

data=pd.read_csv("file:///C:/Users/user/Downloads/padas_question.csv")

new_york_data = data[data['City'] == 'New York']

print("People who live in New York:")
print(new_york_data)

People who live in New York:
    Name  Gender  Age  Height (cm)  Weight (kg)      City
0  Alice  Female   25          165           58  New York
4    Eva  Female   27          175           60  New York
9   Jack    Male   28          180           78  New York